Android/rio22/app/src/main/java/raw/teams.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dataroot">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="team">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="region" type="xs:string" />
                            <xs:element name="desc" type="xs:string" />
                            <xs:element name="winnings" type="xs:string" />
                            <xs:element name="image" type="xs:string" />
                            <xs:element name="url" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>